/* Start Globle Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-color: #e07282;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inria Serif", serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* End Globle Rules */

/* Start components */

.title {
  width: fit-content;
  margin: 0 auto 60px;
}
.title::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  width: 110%;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--primary-color);
}
.title::before {
  content: "";
  position: absolute;
  top: 115%;
  left: 50%;
  width: 13px;
  height: 13px;
  transform: translateX(-50%);
  transform: rotate(45deg);
  background-color: var(--primary-color);
}

/* End components */

/* Start NavBar */

/* Start SubNavBar */
nav .sub-nav-bar {
  background-color: var(--primary-color);
}
nav .sub-nav-bar .info .lang .select {
  background-color: var(--primary-color);
}
/* End SubNavBar */

/* Start Navbar */

nav .navbar .logo {
  width: 60px;
}
nav .navbar .logo img {
  width: 100%;
}
nav .navbar .links ul li a {
  color: var(--primary-color);
  transition-duration: 0.3s;
}
nav .navbar .links ul li a:hover,
nav .navbar .links ul li.active {
  color: #e22c47;
}
nav .navbar .search {
  width: 150px;
  border-color: var(--primary-color) !important;
}
nav .navbar .search input {
  width: 80%;
}
nav .navbar .search i {
  color: var(--primary-color) !important;
}
nav .navbar .links {
  transition-duration: 0.3s;
  width: 100%;
}
nav .navbar .chackbox {
  display: none;
}
@media (max-width: 425px) {
  nav .navbar .chackbox {
    display: block;
    cursor: pointer;
  }
  nav .navbar .links {
    position: absolute;
    top: 100%;
    left: -100%;
    padding: 20px 0;
    background-color: rgba(255, 255, 255);
    text-align: center;
  }
}

/* End Navbar */

/* End NavBar */

/* Start Landing Page */

.landing {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-image: url(../images/landing.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.landing .text h1 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: white;
}
.landing .text h1:nth-child(odd) {
  color: var(--primary-color);
}
@media (min-width: 425px) {
  .landing .text h1 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .landing .text h1 {
    font-size: 70px;
  }
}
@media (min-width: 1025px) {
  .landing .text h1 {
    font-size: 90px;
  }
}

.landing .text-paragraph p {
  font-size: 30px;
  width: 300px;
}
@media (max-width: 768px) {
  .landing .text-paragraph p {
    font-size: 25px;
    width: 250px;
  }
}
@media (max-width: 425px) {
  .landing .text-paragraph p {
    font-size: 20px;
    width: 150px;
  }
}
@media (max-width: 375px) {
  .landing .text-paragraph p {
    font-size: 10px;
    width: 110px;
  }
}

.landing .text .btn {
  background-color: var(--primary-color);
  width: 300px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .landing .text .btn {
    width: 250px;
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .landing .text .btn {
    width: 150px;
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .landing .text .btn {
    width: 110px;
    font-size: 5px;
  }
}
/* End Landing Page */

/* Start New Products */

.new-products {
  padding-top: 100px;
  padding-bottom: 100px;
}
.new-products .products {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}

.new-products .products .product img {
  width: 100%;
}
.new-products .products .product .product-category {
  font-size: 13px;
}
.new-products .products .product .product-name {
  font-weight: bold;
  font-size: 25px;
  margin-top: -10px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.new-products .products .product .product-desc {
  font-size: 14px;
}
.new-products .products .product .product-price {
  font-size: 13px;
}
/* End New Products */

/* Start Courese Part */
.courses-part {
  width: 100%;
  height: 80vh;
  padding: 40px 0;
  background-image: url(../images/courese.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 426px) {
  .courses-part .text {
    position: absolute;
    right: 20%;
    top: 0px;
  }
}
@media (max-width: 425px) {
  .courses-part {
    height: 50vh;
    padding: 40px 0;
  }
  .courses-part .text {
    text-align: center;
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .courses-part .text {
    right: 0%;
  }
}
.courses-part .text .courese-title {
  font-size: 30px;
  margin-bottom: -10px;
}
.courses-part .text .main-title {
  font-size: 110px;
  width: 100px;
}
@media (max-width: 425px) {
  .courses-part .text .main-title {
    font-size: 50px !important;
    margin: 40px auto;
    width: 100%;
    color: black !important;
  }
}
/* @media (max-width: 320px) {
  .courses-part .text .main-title {
    font-size: 10px;
  }
} */
@media (max-width: 768px) {
  .courses-part .text {
    margin-top: 40px;
  }
  .courses-part .text .courese-title {
    font-size: 20px;
    margin-bottom: -10px;
  }
  .courses-part .text .main-title {
    font-size: 80px;
    margin: 20px 0;
  }
}
.courses-part .text .courese-search {
  background-color: var(--primary-color);
  width: 400px;
  font-size: 20px;
}

/* End Courese Part */

/* Start Blog Part */
.blogger {
  padding-top: 100px;
  padding-bottom: 100px;
}
.blogger .blogs {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.blogger .blogs .blog img {
  width: 100%;
}
.blogger .blogs .blog .artical-content {
  font-size: 12px;
  border-top: 2px solid var(--primary-color);
}
.blogger .blogs .blog .read-more {
  background-color: var(--primary-color);
  font-size: 12px;
}
/* End Blog Part */

/* Start Contact Us */
.contact-us {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 40px 0;
  background-image: url(../images/contact.jpeg);
  background-size: cover;
}
.contact-us .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.contact-us .contact {
  width: 400px;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .contact-us .contact {
    width: 100%;
    margin: 0 auto;
  }
}
.contact-us .contact textarea {
  resize: none;
  height: 150px;
}
.contact-us .contact input[type="submit"] {
  width: 50%;
  margin: 0 auto;
  background-color: var(--primary-color);
  border: none;
}
/* End Contact Us */

/* Start Our Products Landing */
.our-products-landing {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-image: url(../images/our\ products.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.our-products-landing .our-products-title {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  width: 250px;
  font-weight: bold;
}
/* End Our Products Landing */

/* Start Our Products Category */
.our-products-category {
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-products-category .categories {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}
@media (max-width: 425px) {
  .our-products-category .our-products-category-title {
    text-align: center;
  }
  .our-products-category .categories {
    text-align: center;
  }
}
.our-products-category .categories .category {
}
.our-products-category .categories .category img {
  width: 100%;
}
.our-products-category .categories .category:first-of-type img {
  width: 89%;
  margin: 0 auto;
  display: block;
}
/* End Our Products Category */

/* Start Our Products Shope */
.our-products-shop {
  /* padding-top: 100px; */
  padding-bottom: 100px;
}
@media (max-width: 425px) {
  .our-products-shop .tags ul {
    flex-direction: column;
  }
}
.our-products-shop .tags ul li {
  cursor: pointer;
  transition-duration: 0.5s;
}
.our-products-shop .tags ul li::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition-duration: 0.5s;
}
.our-products-shop .tags ul li.active {
  position: relative;
  color: var(--primary-color);
}
.our-products-shop .tags ul li:hover {
  position: relative;
  color: var(--primary-color);
}
.our-products-shop .tags ul li:hover::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 120%;
  height: 2px;
  background-color: var(--primary-color);
}
.our-products-shop .tags ul li.active::after {
  width: 120%;
}
.our-products-shop .shop .products {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}

.our-products-shop .shop .products .product img {
  width: 100%;
}
.our-products-shop .shop .products .product .select {
  margin-top: 25px;
}
.our-products-shop .shop .products .product .select select {
  padding: 5px 20px;
  width: 170px;
  border: 2px solid var(--primary-color);
  border-right: none;
  background-color: transparent;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
.our-products-shop
  .shop
  .products
  .product:not(:nth-of-type(2))
  .select
  button {
  background-color: var(--primary-color);
  border: none;
  padding: 6px 12px;
  border-radius: 0 10px 10px 0;
}
.our-products-shop .shop .products .product:nth-of-type(2) .select button {
  background-color: var(--primary-color);
  border: none;
  padding: 6px 1px;
  width: 220px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
/* End Our Products Shope */

/* Start Store Landing */

.store-landing-page {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-image: url(../images/store-landing.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.store-landing-page .text {
}
.store-landing-page .text .link {
}
.store-landing-page .text .text-title {
  font-size: 60px;
}

/* End Store Landing */

/* Start Store Shope */
.store-shope {
}
.store-shope .filter-box {
}
.store-shope .filter-box .accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 0px 10px 0 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
}
.store-shope .filter-box .accordion:first-of-type {
  /* border-bottom: 1px solid black; */
}
.store-shope .filter-box .accordion:after {
  content: "\2b"; /* Unicode character for "plus" sign (+) */
  font-size: 25px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.store-shope .filter-box .active:after {
  content: "-"; /* Unicode character for "minus" sign (-) */
  font-size: 25px;
}
.store-shope .filter-box .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-bottom: 5px;
}

.store-shope .store .box-title {
  background-color: var(--primary-color);
  padding-top: 12px;
  padding-bottom: 12px;
}
.store-shope .store .box-title .results span {
  margin-right: 3px;
}
@media (max-width: 425px) {
  .store-shope .store .box-title .results {
    font-size: 10px;
  }
  .store-shope .store .box-title .sort-by {
    font-size: 10px;
  }
}
.store-shope .store .box-title .sort-by select {
  background-color: transparent;
  border: none;
  color: white;
}
@media (max-width: 425px) {
  .store-shope .store .box-title .sort-by select {
    font-size: 10px;
  }
}
.store-shope .store .box-title .sort-by select option {
  background-color: transparent;
  color: black;
}
.store-shope .store .products {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.store-shope .store .products .product img {
  width: 100%;
}
.store-shope .store .products .product .select {
  margin-top: 25px;
}
.store-shope .store .products .product .select select {
  padding: 5px 20px;
  width: 120px;
  border: 2px solid var(--primary-color);
  border-right: none;
  background-color: transparent;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
.store-shope .store .products .product .select button {
  background-color: var(--primary-color);
  border: none;
  padding: 6px 12px;
  border-radius: 0 10px 10px 0;
}
.store-shope .store .products .product .select-witout button {
  background-color: var(--primary-color);
  border: none;
  padding: 6px 1px;
  width: 170px;
  margin: 26px auto;
  display: block;
  border-radius: 10px;
}
/* End Store Shope */

/* Start Single Product information */

.single-product-information {
}
.single-product-information .images {
}
.single-product-information .images .display-img img {
  width: 70%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.single-product-information .images .imgs img {
  width: 80px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .single-product-information .images .imgs img {
    width: 60px;
  }
}
@media (max-width: 425px) {
  .single-product-information .images .imgs img {
    width: 40px;
  }
}
.single-product-information .images .imgs img.active {
  border-bottom: 3px solid var(--primary-color);
}
.single-product-information .information .category {
  color: var(--primary-color);
}
.single-product-information .information .rating ul li i {
  font-size: 12px;
}
.single-product-information .information .description {
  font-size: 12px;
}
/* End Single Product information */

/* Start Single Product Reviews */

.reviews .rating-detail {
}
.reviews .rating-detail .num {
  color: var(--primary-color);
}
.reviews .rating-detail .prograse {
  position: relative;
  background-color: #ebebeb;
  width: 100%;
  height: 5px;
}
.reviews .rating-detail .prograse span {
  position: absolute;
  background-color: var(--primary-color);
  height: 5px;
}
.reviews .buttons a {
  background-color: var(--primary-color);
}
.reviews .buttons a {
  background-color: var(--primary-color);
}
@media (max-width: 425px) {
  .reviews .buttons a {
    font-size: 15px;
  }
}
/* End Single Product Reviews */

/* Start Single Product Reviews comments */

.reviews-comments {
}
.reviews-comments .reviews-comments-head {
  border-bottom: 1px solid #ccc;
}
.reviews-comments .reviews-comments-head a {
  cursor: pointer;
}
.reviews-comments .reviews-comments-head .active,
.reviews-comments .reviews-comments-head a:hover {
  color: var(--primary-color) !important;
  position: relative;
}
.reviews-comments .reviews-comments-head .active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  bottom: -11px;
  left: 0;
}
.reviews-comments .reviews-body {
  font-family: "Montserrat", sans-serif;
}
.reviews-comments .reviews-body:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}
.reviews-comments .reviews-content .reviews-title {
  font-size: 20px;
}
.reviews-comments .reviews-content .reviews-content-p {
  font-size: 15px;
}
/* End Single Product Reviews comments */

/* Start Footer */
.footer {
  background-color: var(--primary-color);
}
@media (max-width: 425px) {
  .footer .copyright {
    text-align: center;
    font-size: 13px;
  }
}
/* End Footer */
